html{
  overflow-x: hidden;
  // overflow-y: hidden;
  font-size: 16px;
}

body{
  margin: 0;
  padding: 0;
}

.color {
  display: block;
  position: fixed;
  background-color: #082f1c;
  opacity: 40%;
  width: 100vw;
  height: calc(100vh - 4rem);
  z-index: 98;
}

.realworld {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  object-fit: cover;
  width: 100vw;
  height: 100vh;
}

.button{
  font-family: "new-astro", sans-serif;
  font-weight: 600;
  font-style: normal;
  margin: 0;
  font-size: 2rem;
  text-align: center;
  margin-top: 1rem;

  a:visited, a:link {
    color: #00FF29;
    text-decoration: none;
  }
}

.main {
  position: absolute;
  z-index: 99;
  display: flex;
  flex-direction: row;
  .content{
    font-family: "new-astro", sans-serif;
    font-weight: 600;
    font-style: normal;
    margin: 1rem;
    font-size: 2.5rem;
    text-align: left;

    a:link,:visited {
      color: #00FF29;
      text-decoration: none;
    }

    a:hover {
      color: #00FF29;
      text-decoration: line-through;
    }
  }

  .hide {
    display: none;
    position: fixed;
    top: 5vh;
    left: 45vw;
    justify-content: center;
    align-items: center;
  }

  .challenge11 {
    margin-bottom: 6rem;
  }

  .challenge1:hover ~ .one {
    display: block;
  }

  .challenge2:hover ~ .two {
    display: block;
  }

  .challenge3:hover ~ .three {
    display: block;
  }

  .challenge4:hover ~ .four {
    display: block;
  }

  .challenge5:hover ~ .five {
    display: block;
  }

  .challenge6:hover ~ .six {
    display: block;
  }

  .challenge7:hover ~ .seven {
    display: block;
  }

  .challenge8:hover ~ .eight {
    display: block;
  }

  .challenge9:hover ~ .nine {
    display: block;
  }

  .challenge10:hover ~ .ten {
    display: block;
  }

  .challenge11:hover ~ .eleven {
    display: block;
  }
}

.footer{
  position: fixed;
  background: black;
  width: 100vw;
  height: 4rem;
  bottom: 0;
  z-index: 100;
}